<div id="nav">
    <div id="logo"></div>
    <button class="icon" (click)="openLogoutDialog()" title="{{'Logout completo' | translate}}">
        <mat-icon aria-hidden="false" [attr.aria-label]="'Icona di logout completo' | translate" fontIcon="logout"></mat-icon>
    </button>
    <button class="icon" (click)="openLogoutUserDialog()" title="{{'Logout parziale' | translate}}">
        <mat-icon aria-hidden="false" [attr.aria-label]="'Icona di logout parziale' | translate" fontIcon="change_circle"></mat-icon>
    </button>
</div>