#nav {
    height: 100%;
    width: 60px;
    background-color: black;
    display:list-item;
}

#logo {
    margin-top: 1em;
    margin-bottom: 3em;
    width: 80%;
    padding: 0.2em;
}

.icon {
    width: 100%;
    border: none;
    height: 48px;
    background-color: black;
    color: white;
    margin-bottom: 0.5em;
}

.icon:hover {
    background-color: white;
    color: black;
    transition: 500ms;
}