<div id="container">
    <app-sidenav *ngIf="!mobileQuery.matches"></app-sidenav>
    <div id="mainFrame">
        <app-toolbar>
            <button id="menu" mat-icon-button (click)="drawer.toggle()" title="Fasi di lavorazione"><mat-icon>menu</mat-icon></button>
        </app-toolbar>
        <mat-drawer-container [hasBackdrop]="tabletQuery.matches" id="mainContent">
            <mat-drawer #drawer [mode]="tabletQuery.matches? 'over' : 'side'" opened>
                <app-phases></app-phases>
            </mat-drawer>
            <mat-drawer-content id="logView">
                <app-log-modifier></app-log-modifier>
                <app-log-viewer></app-log-viewer>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>