#container {
    width: 100%;
    display: flex;
    height: 100%;
}

#mainFrame {
    width: 100%;
}

#mainContent {
    width: 100%;
    height: calc(100% - 70px); //70px sono di toolbar
}

mat-drawer {
    width: 20%;
    height: auto;
}

app-phases {
    width: 100%;
}

#logView {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

app-log-modifier {
    width: 100%;
    flex: 40%;
}

app-log-viewer {
    width: 100%;
    flex: 59%;
}

@media screen and (max-width: 1200px) {
    mat-drawer {
        width: 35%;
    }
}

@media screen and (max-width: 700px) {
    mat-drawer {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    mat-drawer {
        width: 70%;
    }
}

@media screen and (max-height: 900px) {
    app-log-modifier {
        flex: 50%;
    }
    
    app-log-viewer {
        flex: 50%;
    }
}