$primary-dark: (
    50 : #ebecf7,
    100 : #cccfeb,
    200 : #aab0dd,
    300 : #8890cf,
    400 : #6f78c5,
    500 : #5560bb,
    600 : #4e58b5,
    700 : #444eac,
    800 : #3b44a4,
    900 : #2a3396,
    A100 : #d9dcff,
    A200 : #a6acff,
    A400 : #737dff,
    A700 : #5965ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$primary-light: (
    50 : #e4f7ff,
    100 : #bbecff,
    200 : #8edfff,
    300 : #60d2ff,
    400 : #3ec9ff,
    500 : #1cbfff,
    600 : #19b9ff,
    700 : #14b1ff,
    800 : #11a9ff,
    900 : #099bff,
    A100 : #ffffff,
    A200 : #f5faff,
    A400 : #c2e4ff,
    A700 : #a8d8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
