$primary-dark: (
    50 : #ebecf7,
    100 : #cccfeb,
    200 : #aab0dd,
    300 : #8890cf,
    400 : #6f78c5,
    500 : #5560bb,
    600 : #4e58b5,
    700 : #444eac,
    800 : #3b44a4,
    900 : #2a3396,
    A100 : #d9dcff,
    A200 : #a6acff,
    A400 : #737dff,
    A700 : #5965ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$primary-light: $primary-dark;

$accent-dark: (
    50 : #e9e6ec,
    100 : #c7c0cf,
    200 : #a297b0,
    300 : #7d6d90,
    400 : #614d78,
    500 : #452e60,
    600 : #3e2958,
    700 : #36234e,
    800 : #2e1d44,
    900 : #1f1233,
    A100 : #a472ff,
    A200 : #833fff,
    A400 : #630cff,
    A700 : #5600f1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent-light: (
    50 : #f2eef4,
    100 : #ded4e4,
    200 : #c8b8d3,
    300 : #b19bc1,
    400 : #a185b3,
    500 : #9070a6,
    600 : #88689e,
    700 : #7d5d95,
    800 : #73538b,
    900 : #61417b,
    A100 : #ead2ff,
    A200 : #d39fff,
    A400 : #bc6cff,
    A700 : #b052ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
