$primary-dark: (
    50 : #e5e6ea,
    100 : #bdc1ca,
    200 : #9197a7,
    300 : #656d83,
    400 : #444e69,
    500 : #232f4e,
    600 : #1f2a47,
    700 : #1a233d,
    800 : #151d35,
    900 : #0c1225,
    A100 : #6384ff,
    A200 : #305cff,
    A400 : #0035fc,
    A700 : #0030e3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary-light: (
    50 : #e2e5eb,
    100 : #b6becc,
    200 : #8693ab,
    300 : #556789,
    400 : #30476f,
    500 : #0c2656,
    600 : #0a224f,
    700 : #081c45,
    800 : #06173c,
    900 : #030d2b,
    A100 : #6580ff,
    A200 : #3255ff,
    A400 : #002cfe,
    A700 : #0027e5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent-dark : (
    50 : #f7eeff,
    100 : #ecd4ff,
    200 : #dfb8ff,
    300 : #d29cff,
    400 : #c986ff,
    500 : #bf71ff,
    600 : #b969ff,
    700 : #b15eff,
    800 : #a954ff,
    900 : #9b42ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f3eaff,
    A700 : #e5d0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent-light:  (
    50 : #e3e7f0,
    100 : #b8c4da,
    200 : #899dc1,
    300 : #5975a8,
    400 : #365896,
    500 : #123a83,
    600 : #10347b,
    700 : #0d2c70,
    800 : #0a2566,
    900 : #051853,
    A100 : #869cff,
    A200 : #5372ff,
    A400 : #2048ff,
    A700 : #0733ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
