$primary-dark: (
    50 : #e9e6ec,
    100 : #c7c0cf,
    200 : #a297b0,
    300 : #7d6d90,
    400 : #614d78,
    500 : #452e60,
    600 : #3e2958,
    700 : #36234e,
    800 : #2e1d44,
    900 : #1f1233,
    A100 : #a472ff,
    A200 : #833fff,
    A400 : #630cff,
    A700 : #5600f1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary-light: (
    50 : #ebecf7,
    100 : #cccfeb,
    200 : #aab0dd,
    300 : #8890cf,
    400 : #6f78c5,
    500 : #5560bb,
    600 : #4e58b5,
    700 : #444eac,
    800 : #3b44a4,
    900 : #2a3396,
    A100 : #d9dcff,
    A200 : #a6acff,
    A400 : #737dff,
    A700 : #5965ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$background-dark: (
    50 : #e6e7e9,
    100 : #c2c2c8,
    200 : #9999a3,
    300 : #70707e,
    400 : #515263,
    500 : #323347,
    600 : #2d2e40,
    700 : #262737,
    800 : #1f202f,
    900 : #131420,
    A100 : #6474ff,
    A200 : #3146ff,
    A400 : #0019fd,
    A700 : #0017e4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$background-light: (
    50 : #fefeff,
    100 : #fbfcfe,
    200 : #f9fafe,
    300 : #f7f8fe,
    400 : #f5f7fd,
    500 : #f3f5fd,
    600 : #f1f4fd,
    700 : #eff2fc,
    800 : #edf0fc,
    900 : #eaeefc,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
