#dialog {
    padding: 1em;
    width: 15em;
    min-width: 100px;
    color: black;
}

button {
    background-color: white;
}

#buttons {
    text-align: right;
    margin-top: 1.5em;
}

button {
    margin: auto;
    font-weight: 500;
}

#title {
    margin-top: 0.2em;
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 16px;
}