@import "../../variables.scss";

#visibility-button {
    border: 0px;
    height: 40px;
    width: 40px;
    border-radius: 20px
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
    appearance: textfield;
}

#form-background {
    background-color: $backgroundColor;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form {
    width: 45%;
    height: 30%;
    max-height: 500px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    gap: 1em;
    flex-basis: 60%;
    padding: 3em;
    padding-bottom: 2.5em;
}

form>* {
    height: 80px;
    min-height: 80px;
}

form button {
    color: white;
    background-color: $backgroundColor;
    border-radius: 5px;
}

form button:hover {
    background-color: white;
    color: $backgroundColor;
    border: 1px solid black;
    cursor: pointer;
    transition: 250ms;
}

form>button {
    width: auto;
    height: 50px;
    min-height: 60px;
    margin-bottom: 3%;
    font-size: 30px;
    padding: 10px;
}

img {
    width: 20%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    flex-basis: 25%;
}

#pin {
    font-size: 25px;
}

#loading-frame {
    min-width: 100px;
    width: fit-content;
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: darkblue;
    font-size: large;
    font-weight: 500;
    transform: translate(-50%, 0);
}

#loading-frame>* {
    display: flex;
    gap: 15px;
    padding: 15px;
    position: relative;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 0px 0px 5px white;
}

#pinFrame {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    padding: 10px;
    min-width: 240px;
    max-width: 400px;
    margin: 0 auto 0 auto;
}

.pinButton {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: center;
    font-size: 40px;
}

#del {
    padding: 0;
}

.mat-icon {
    margin-top: 0.2em;
}


@media only screen and (max-height: 800px) {
    img {
        height: 8%;
        width: 15%;
    }

    form {
        height: 50%;
        padding: 1.5em;
        padding-bottom: 1em;
    }
}

@media only screen and (max-height: 800px),
(max-width: 1000px) {

    .pinButton {
        font-size: 30px;
    }

    form>button {
        font-size: 20px;
        min-height: 30px;
        padding: 5px;
    }
}

@media only screen and (max-height : 700px) and (max-width : 1920px),
(max-width: 600px) {
    img {
        height: 8%;
        width: 15%;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #form-background {
        background-color: white;
        width: 100%;
        height: 100%;
    }

    form {
        margin: auto 0 auto 0;
        width: auto;
        height: auto;
    }
}