#toolbar {
    width: 100%;
    height: 70px;
}

.example-spacer {
    flex: 1 1 auto;
  }

img {
    width: 40px;
    border-radius: 40px;
}

#toolbar > * {
    margin-left: 1em;
}

#dark-theme-slider{
    display: flex;
    align-items: center;
}

#dark-theme-slider > * {
    margin-left: 0.2em;
}

.checkmark:before {
    content:'L';
    font-family: arial;
    transform: scaleX(-1) rotate(-35deg);
    display:inline-block;
    vertical-align: top;
    line-height: 1em;
    width: 1em;
    color: darkblue;
    height:1em;
    margin-left: 0.5em;
    text-align: center;
    position: absolute;
    left: 0;
  }

  .entry{
    margin-left: 1em;
  }