#toolbar {
    width: 100%;
    height: 70px;
}

.spacer {
    flex: 1 1 auto;
  }

img {
    width: 40px;
    border-radius: 40px;
}

#toolbar > * {
    margin-left: 1em;
}

#dark-theme-slider{
    display: flex;
    align-items: center;
    transition-duration: 0ms;
}

#dark-theme-slider > * {
    margin-left: 0.2em;
}

.checkmark:before {
    content:'L';
    font-family: arial;
    transform: scaleX(-1) rotate(-35deg);
    display:inline-block;
    vertical-align: top;
    line-height: 1em;
    width: 1em;
    height:1em;
    margin-left: 0.5em;
    text-align: center;
    position: absolute;
    left: 0;
  }

  .entry{
    margin-left: 1em;
  }

  #logo {
    flex: 0 0 60px;
    height: 30px;
    background-repeat: no-repeat;
    background-size:contain;
    margin-right: 1em;
}

.logout-mobile, #translation {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: none;
}