<mat-toolbar id="toolbar" color="primary">
    <div *ngIf="mobileQuery.matches" id="logo"></div>
    <ng-content></ng-content>
    <span *ngIf="!mobileQuery.matches">{{today | date:'MMMM' | titlecase}} {{today | date:'yyyy'}} - {{"Settimana" | translate}} {{today | date: 'ww'}}</span>
    <span class="spacer"></span>
    <div id="dark-theme-slider" title="Cambio tema">
      <mat-icon aria-hidden="false" aria-label="Light mode icon" fontIcon="light_mode"></mat-icon>
      <mat-slide-toggle [(ngModel)]="isDark" (change)="toggleTheme($event)" color="accent"></mat-slide-toggle>
      <mat-icon aria-hidden="false" aria-label="Dark mode icon" fontIcon="dark_mode"></mat-icon>
    </div>
    
        <button id="translation" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Globe icon for languages" title="Traduzioni">
            <mat-icon aria-hidden="false" aria-label="Language globe icon" fontIcon="language"></mat-icon>
          </button>
          <mat-menu #menu="matMenu" id="languageMenu">
            <button mat-menu-item *ngFor="let language of languages; let i = index" (click)="changeActiveLanguage(strictLang[i])" color="accent">
              <span class="entry" [ngClass]="{'checkmark' : activeLanguage === strictLang[i]}" >{{language}}</span>
            </button>
          </mat-menu>
        
    <span *ngIf="!mobileQuery.matches">{{user}}</span>
    <img *ngIf="!mobileQuery.matches" src="../../../assets/icons/logo.jpg" />

    <button *ngIf="mobileQuery.matches" class="icon logout-mobile" (click)="openLogoutDialog()" title='Logout completo'>
      <mat-icon aria-hidden="false" aria-label="Logout icon" fontIcon="logout"></mat-icon>
    </button>
    <button *ngIf="mobileQuery.matches" class="icon logout-mobile" (click)="openLogoutUserDialog()" title='Logout parziale - pin'>
        <mat-icon aria-hidden="false" aria-label="Change circle icon" fontIcon="change_circle"></mat-icon>
    </button>
</mat-toolbar>
