table {
    width: 100%;
    max-height: fit-content;
}

table * {
    text-align: center;
}

.header {
    width: 100%;
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-bottom: 2em;
}

.container {
    max-height: 100%;
    width: 90%;
    overflow: auto;
    margin: auto;
}

#noDataRow, #noDataRow * {
    padding: 1em;
}

@media screen and (max-height: 900px) {
    .header {
        margin-bottom: 1em;
    }
}