table {
    width: 90%;
    min-width: 300px;
    margin: auto;
    margin-top: 1em;
}
table * {
    text-align: center;
    padding-top: 0.5em;
}

.header {
    width: 100%;
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}