<div class="header">{{"Log" | translate}}</div>
<div class="container">
  <table mat-table [dataSource]="logs" class="mat-elevation-z8" *ngIf="displayedColumns.length">

    <ng-container [matColumnDef]="column.attributevalue!" *ngFor="let column of attributes; let i = index">
      <th mat-header-cell *matHeaderCellDef> <label>{{column.attributename}}</label> </th>
      <td mat-cell *matCellDef="let element"
        [ngClass]="blinkLogId == element.c_projectphase_quality_log_id? 'blink' : highlighted == element? 'highlighted' : ''">
        <div *ngIf="column.attributevalue != 'Actions' && column.attributevaluetype != 'Y'">
          {{element[column.attributevalue!]}}
        </div>

        <mat-icon *ngIf="column.attributevaluetype == 'Y' && element[column.attributevalue!] == 'true'"
          aria-hidden="false" [attr.aria-label]="'Vero' | translate" fontIcon="check"></mat-icon>
        <mat-icon *ngIf="column.attributevaluetype == 'Y' && element[column.attributevalue!] == 'false'"
          aria-hidden="false" [attr.aria-label]="'Falso' | translate" fontIcon="close"></mat-icon>

        <div id="buttons">
          <button id="edit" *ngIf="column.attributevalue == 'Actions'" mat-raised-button
            (click)="edit(element); highlight(element)">
            <mat-icon aria-hidden="false" [attr.aria-label]="'Modifica' | translate" fontIcon="edit"></mat-icon>
          </button>
          <button id="delete" *ngIf="column.attributevalue == 'Actions'" mat-raised-button
            (click)="deleteDialog(element)">
            <mat-icon aria-hidden="false" [attr.aria-label]="'Elimina' | translate" fontIcon="delete"></mat-icon>
          </button>
        </div>
      </td>

      <tr id="noDataRow" class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          {{"Non ci sono log di qualità per questa fase!" | translate}}
        </td>
      </tr>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>