table {
    width: 100%;
}
table * {
    text-align: center;
    padding-top: 0.5em;
}

.header {
    width: 100%;
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.container {
    position: relative;
    max-height: 80%;
    width: 90%;
    overflow: auto;
    margin: auto;
    margin-top: 1em;
  }