@use '@angular/material' as mat;
@use './styles/buttons-palettes.scss' as buttons;
@use './styles/cards-palettes.scss' as cards;
@use './styles/header-palettes.scss' as header;
@use './styles/tables-palettes.scss' as tables;
@use './styles/sidenav-palettes.scss' as sid;
@use './styles/select-palettes.scss' as select;
@use './app/components/sidenav/sidenav-theme' as sidenav;

@include mat.core();

// Definizione delle palettes
$warn-palette: mat.define-palette(mat.$red-palette);

// Tables palettes
$table-primary-dark-palette: mat.define-palette(tables.$primary-dark);
$table-background-dark-palette: mat.define-palette(tables.$background-dark);
$table-primary-light-palette: mat.define-palette(tables.$primary-light);
$table-background-light-palette: mat.define-palette(tables.$background-light);

// Buttons palettes
$buttons-primary-dark-palette: mat.define-palette(buttons.$primary-dark);
$buttons-primary-light-palette: mat.define-palette(buttons.$primary-light);

// Select palettes
$select-primary-dark-palette: mat.define-palette(select.$primary-dark);
$select-primary-light-palette: mat.define-palette(select.$primary-light);
$select-accent-dark-palette: mat.define-palette(select.$accent-dark);
$select-accent-light-palette: mat.define-palette(select.$accent-light);

// Cards palettes
$cards-primary-dark-palette: mat.define-palette(cards.$primary-dark);
$cards-primary-light-palette: mat.define-palette(cards.$primary-light);
$cards-accent-dark-palette: mat.define-palette(cards.$accent-dark);
$cards-accent-light-palette: mat.define-palette(cards.$accent-light);

// Header palettes
$header-primary-dark-palette: mat.define-palette(header.$primary-dark);
$header-primary-light-palette: mat.define-palette(header.$primary-light);
$header-accent-dark-palette: mat.define-palette(header.$accent-dark);
$header-accent-light-palette: mat.define-palette(header.$accent-light);

// Sidenav palettes
$sidenav-primary-dark-palette: mat.define-palette(sid.$black-palette);
$sidenav-primary-light-palette: mat.define-palette(sid.$white-palette);
$sidenav-accent-dark-palette: mat.define-palette(sid.$white-palette);
$sidenav-accent-light-palette: mat.define-palette(sid.$black-palette);

// Definizione dei temi

// Tables
$table-dark-theme : mat.define-dark-theme((color: (primary: $table-primary-dark-palette,
      accent: $header-accent-dark-palette,
      warn: $warn-palette,
    )));

$table-light-theme : mat.define-light-theme((color: (primary: $table-primary-light-palette,
      accent: $header-accent-light-palette,
      warn: $warn-palette,
    )));

// Select
$select-dark-theme : mat.define-dark-theme((color: (primary: $select-primary-dark-palette,
      accent: $select-accent-dark-palette,
      warn: $warn-palette,
    )));

$select-light-theme : mat.define-light-theme((color: (primary: $select-primary-light-palette,
      accent: $select-accent-light-palette,
      warn: $warn-palette,
    )));

// Buttons
$button-dark-theme : mat.define-dark-theme((color: (primary: $buttons-primary-dark-palette,
      accent: $header-accent-dark-palette,
      warn: $warn-palette,
    )));

$button-light-theme : mat.define-light-theme((color: (primary: $buttons-primary-light-palette,
      accent: $header-accent-light-palette,
      warn: $warn-palette,
    )));

// Cards
$card-dark-theme : mat.define-dark-theme((color: (primary: $cards-primary-dark-palette,
      accent: $cards-accent-dark-palette,
      warn: $warn-palette,
    )));

$card-light-theme : mat.define-light-theme((color: (primary: $cards-primary-light-palette,
      accent: $cards-accent-light-palette,
      warn: $warn-palette,
    )));

// Header
$header-dark-theme : mat.define-dark-theme((color: (primary: $header-primary-dark-palette,
      accent: $header-accent-dark-palette,
      warn: $warn-palette,
    )));

$header-light-theme : mat.define-light-theme((color: (primary: $header-primary-light-palette,
      accent: $header-accent-light-palette,
      warn: $warn-palette,
    )));

// Sidenav
$sidenav-dark-theme: mat.define-dark-theme((color: (primary: $sidenav-primary-dark-palette,
        accent: $sidenav-accent-dark-palette,
        warn: $warn-palette,
      )));

$sidenav-light-theme: mat.define-light-theme((color: (primary: $sidenav-primary-light-palette,
        accent: $sidenav-accent-light-palette,
        warn: $warn-palette,
      )));

// Tematizzazione

// Skeleton loading
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.7rem;
  margin-bottom: 0.3rem;
  border-radius: 0.15rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}


// Tema default: serve per component di login, dato che hanno un unico tema
@include mat.all-component-themes($header-light-theme);

mat-form-field{
  @include mat.all-component-densities(-1);
}

// Stile carte 
mat-card,
mat-card-subtitle {
  color: white !important;
  cursor: pointer;
}

button {
  cursor: pointer;
}

// Tema scuro
.theme-dark {
  @include mat.core-color($header-dark-theme);
  @include mat.table-color($table-dark-theme);
  @include mat.input-color($table-dark-theme);
  @include mat.option-color($select-dark-theme);
  @include mat.select-color($select-dark-theme);
  @include mat.checkbox-color($table-dark-theme);
  @include mat.form-field-color($table-dark-theme);
  @include mat.button-color($button-dark-theme);
  @include mat.toolbar-color($header-dark-theme);
  @include mat.slide-toggle-color($header-dark-theme);
  @include mat.menu-color($header-dark-theme);
  @include sidenav.color($sidenav-dark-theme);

  .header {
    background-color: #BF71FF;
    color: white;
  }

  #mainContent,
  cdk-virtual-scroll-viewport,
  mat-drawer {
    background-color: #1A1B2E;
  }

  .mat-mdc-header-row {
    background-color: mat.get-color-from-palette($table-primary-dark-palette, 500);
  }

  mat-card {
    background-color: mat.get-color-from-palette($cards-primary-dark-palette, 500);
    border: 3px solid #7280f9;
  }

  mat-card:hover {
    background-color: #7280f9;
    border-color: mat.get-color-from-palette($cards-primary-dark-palette, 500);
  }

  mat-card:active {
    background-color: mat.get-color-from-palette($cards-accent-dark-palette, 500);
    border: 3px solid #BF71FF;
  }

  mat-card.selected-card {
    background-color: mat.get-color-from-palette($cards-accent-dark-palette, 500);
    border: 3px solid #BF71FF;
  }

  mat-card.selected-card:hover {
    background-color: #BF71FF;
    border-color: mat.get-color-from-palette($cards-accent-dark-palette, 500);
  }

  mat-drawer {
    border-right: 1px solid #707286;
  }

  app-log-viewer {
    border-top: 1px solid #707286;
  }

  .checkmark {
    color: white;
  }

  .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
  .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
    color: white !important;
  }

  #nav {
    background-color: black;
    color: white;
  }

  #logo {
    background-image: url("./assets/images/logo-ADeQA-white.svg");
  }

  #translation:hover,
  #menu:hover {
    color: #232f4e;
    background-color: white;
  }

  background-color: #1A1B2E;
  color: white;
}

// Tema chiaro
.theme-light {
  @include mat.core-color($header-light-theme);
  @include mat.table-color($table-light-theme);
  @include mat.input-color($table-light-theme);
  @include mat.option-color($select-light-theme);
  @include mat.select-color($select-light-theme);
  @include mat.checkbox-color($table-light-theme);
  @include mat.form-field-color($table-light-theme);
  @include mat.button-color($button-light-theme);
  @include mat.toolbar-color($header-light-theme);
  @include mat.slide-toggle-color($header-light-theme);
  @include mat.menu-color($header-light-theme);
  @include sidenav.color($sidenav-light-theme);

  .header {
    background-color: #123A83;
    color: white;
  }

  #mainContent,
  cdk-virtual-scroll-viewport,
  mat-drawer {
    background-color: #F3F5FD;
  }

  .mat-mdc-header-row {
    background-color: mat.get-color-from-palette($table-primary-light-palette, 500);
    color: white;
  }

  mat-card {
    background-color: mat.get-color-from-palette($cards-primary-light-palette, 500);
    border: 3px solid #6673db;
  }

  mat-card:hover {
    background-color: #6673db;
    border-color: mat.get-color-from-palette($cards-primary-light-palette, 500);
  }

  mat-card:active {
    background-color: mat.get-color-from-palette($cards-accent-light-palette, 500);
    border: 3px solid #a25dcb;
  }

  mat-card.selected-card {
    background-color: mat.get-color-from-palette($cards-accent-light-palette, 500);
    border: 3px solid #a25dcb;
  }

  mat-card.selected-card:hover {
    background-color: #a25dcb;
    border-color: mat.get-color-from-palette($cards-accent-light-palette, 500);
  }

  mat-drawer {
    border-right: 1px solid #ced0db;
  }

  app-log-viewer {
    border-top: 1px solid #ced0db;
  }

  .checkmark {
    color: purple;
  }

  .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
    color: var(--mat-option-selected-state-label-text-color) !important;
  }

  #nav {
    background-color: white;
    color: black;
  }

  #logo {
    background-image: url("./assets/images/logo-ADeQA-dark.svg");
  }

  #translation:hover,
  .logout-mobile:hover,
  #menu:hover {
    color: #0c2656;
    background-color: white;
  }

  .logout-mobile {
    color: white;
    background-color: #0c2656;
  }

  color: black;
  background-color: #F3F5FD;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: transparent !important;
}

.red-snackbar {
  background-color: #F44336 !important;
  color: white !important;
  box-shadow: 0px 0px 5px white;
}

.red-snackbar button {
  color: white !important;
}

@media screen and (min-width: 1920px) {
  * {
    font-size: large;
  }
}

@media screen and (max-width: 900px) {
  .theme-light #logo {
    background-image: url('./assets/images/logo-ADeQA-white.svg');
  }

  .theme-dark .mat-toolbar {
    background-color: black;
  }

}

mat-form-field * {
  font-size: large;
}

* {
  transition: color 250ms, background-color 250ms;
}

table,
tr,
td,
mat-icon {
  transition-duration: 0ms;
}