mat-card{
    min-width: 150px;
    margin: 1em;
}

.scroll-viewport {
    width: 100%;
    height: calc(100% - 2em);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-viewport::-webkit-scrollbar {
   display: none;
}

@media only screen and (max-width: 1920px) {
    mat-card {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}