<cdk-virtual-scroll-viewport appendOnly itemSize="100" class="scroll-viewport">
    <mat-card color="primary" *ngFor="let phase of phases" (click)=" select('card-' + phases.indexOf(phase).toString())" id="card-{{phases.indexOf(phase)}}">
      <mat-card-header>
        <mat-card-title>Fase: {{phase.phasename}}</mat-card-title>
        <mat-card-subtitle>{{phase.customer}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>Linea: {{ phase.linename }}</mat-card-content>
    </mat-card>
</cdk-virtual-scroll-viewport>