@import "../../variables.scss";

#visibility-button{
    border: 0px;
    height: 40px;
    width: 40px;
    border-radius: 20px
}
  
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}
  
input.example-right-align {
    -moz-appearance: textfield;
}

#form-background{
    background-color: $backgroundColor;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form {
    width: 50%;
    height: 30%;
    max-height: 400px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    gap: 1.2em;
    flex-basis: 20%;
    padding: 3em;
    padding-bottom: 2.5em;
}

form > * {
    height: 80px;
    min-height: 80px;
}

form > button {
    width:auto;
    color: white;
    background-color: $backgroundColor;
    height: 50px;
    min-height: 40px;
    margin-bottom:3%;
}

img {
    width: 20%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    flex-basis: 40%;
}

@media only screen and (max-width: 1200px) {
    img {
        width: 40%;
        height: 20%;
    }
}

@media only screen and (max-height: 700px) {
    img {
        height: 8%;
        width: 15%;
    }
    form {
        height: 50%;
        padding: 1.5em;
        padding-bottom: 1em;
    }
}

@media only screen and (max-height: 700px) and (max-width: 1000px) {
    img {
        height: 15%;
        width: 30%;
    }
}