<div id="form-background">
    <form (ngSubmit)="login()" [@fadeInOut]="opacityChange" [formGroup]="form">
        <mat-form-field>
            <mat-label>{{"Nome utente" | translate}}</mat-label>
            <input matInput [type]="'text'" formControlName="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button type='button' matSuffix (click)="hide = !hide" [attr.aria-label]="'Nascondi password' | translate"
                [attr.aria-pressed]="hide" id="visibility-button">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button type="submit">{{"Accedi" | translate}}</button>
    </form>
    <img [@fadeInOut]="opacityChange" src="../../../assets/images/logo-ADeQA.svg" />
</div>
<div id="loading-frame" *ngIf="loading">
    <div>
        <div>{{"Caricamento" | translate}}</div> <mat-spinner [diameter]="30"></mat-spinner>
    </div>
</div>