@use '@angular/material' as mat;

table {
    width: 100%;
}

table * {
    text-align: center;
    padding-top: 0.5em;
}

.header {
    width: 100%;
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-bottom: 1.1em;
}

mat-checkbox {
    transform: scale(1.5);
    margin-bottom: 0.5rem;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: calc(100% - 60px);
}

#submitButton {
    margin: auto;
    height: 2.5em;
    color: white;
}

#button-tooltip {
    display: flex;
    margin: auto;
    margin-top: 0;
}

.container {
    width: 90%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    mat-form-field.mat-mdc-form-field {
        max-width: 150px;
    }

    mat-form-field.mat-mdc-form-field.mat-mdc-form-field-type-mat-select {
        max-width: 180px;
    }
}